body {
    display: flex;
}
.title {
    font-size: 20px;
    text-align: left;
    width: 50vw;
    flex-direction: left;
    background-color: green;
}
.player1 {
    background-color:rgb(255, 77, 77);
}
.player2 {
    background-color: black;
}
.nav-wrapper {
    background-color: rgb(106, 203, 255);
}